/* Material Dark Theme */

$dark-theme-primary: (
  50 : #e7e7e7,
  100 : #c2c2c2,
  200 : #9a9a9a,
  300 : #717171,
  400 : #525252,
  500 : #343434,
  600 : #2f2f2f,
  700 : #272727,
  800 : #212121,
  900 : #151515,
  A100 : #f2f2f2,
  A200 : #cdcdcd,
  A400 : #adadad,
  A700 : #929292,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$dark-theme-accent: (
  50 : #edf5ea,
  100 : #d2e5ca,
  200 : #b5d4a7,
  300 : #97c284,
  400 : #80b569,
  500 : #6aa84f,
  600 : #62a048,
  700 : #57973f,
  800 : #4d8d36,
  900 : #3c7d26,
  A100 : #cdffbe,
  A200 : #a6ff8b,
  A400 : #7fff58,
  A700 : #6cff3f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dark-theme-warn: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dark-primary-palette: mat-palette($dark-theme-primary);
$dark-accent-palette: mat-palette($dark-theme-accent);
$dark-warn-palette: mat-palette($dark-theme-warn);
